@import "compass";
@import "compass/reset";
@import "bourbon/bourbon";
@import "bourbon/layout";
@import "bourbon/mixins";
@import "bourbon/variables";
@import "bourbon/_webfont";
@import "bourbon/_webicons";

// colors

$color-main: #2EC4F3;
$base-color: lighten(#000, 60%);
$color-sub: #678EFF;
$color-sub2: #B3C6FF;
$color-pink: #FFBEEE;
$color-white: #ffffff;
$color-black: #000000;

// fonts

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

// animation

$animation-duration: 0.7s;

// img-src
$imgSrc: "../img";

$webicon_rightarrow: "\e64b";

/*======================================================================

Base

======================================================================*/

*, ::before, ::after {
    @include box-sizing(border-box);
}

* {
    @include font-smoothing;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-white;
    color: $base-color;
    font-size: 1.7rem;
    @include heading-font(h3);
}

body, html {
    /* prevent horizontal scrolling */
    overflow-x: hidden;
}

h1, h2, h3, p, a, span  {
    @include heading-font(h3);
}

p {
    font-family: NotoSans-M;
}

a, span {
    @include heading-font(h3);
}

a {
    color: lighten(#000, 60%);
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-main;
    }

    &:active {
        color: darken($color-sub2, 30%);
    }
}

img {
    vertical-align: bottom;
}


//float Direction
// width 1170px ///////////////////////////////////////////
@include MQ(L) {
    .float-block-2 {
        @include column(.5);
    }

    .float-block-m-2 {
        @include column-Margin(.5, 3);
    }

    .float-block-3 {
        @include column(.33);
    }

    .float-block-5 {
        @include column(.20);
    }

    .float-block-7 {
        @include column(.1428);
    }
}



/*======================================================================

Header Contents

======================================================================*/

header {
    position: relative;
    z-index: 2;

    @include transform(translateZ(0));
    @include backface-visibility(visible);
    @include transition(transform $animation-duration - .1s, opacity .4s);

    h1, h2, h3 {
        margin-bottom: 3rem;
    }

    h1 {
        color: #000;
        font-size: 3rem;
        letter-spacing: 3px;
    }

    h2, h3 {
        font-size: 2.1rem;
        letter-spacing: 3px;
    }

    p {
        line-height: 2;
        word-wrap: break-word;
    }

    .main-nav-open & {
        @include transform(translateX(100%));
    }

    .header-content {
        @include clearfix;
        position: relative;
        max-width: 1080px;
        margin: 0 auto;
        padding: 20px 3% 30px;
        text-align: center;
    }

    .category {
        position: relative;
        @include border(150px, 1px, -30px);
        margin: 10px 0 80px;
        text-align: center;
        letter-spacing: 2px;

        .category-title {
            padding: 12px 0 12px 0;
            font-size: 2rem;
        }

        span {
            position: absolute;
            font-size: 4rem;
        }

        .webicon_araki-symbol {
            top: -10px;
            right: 2%;
            font-size: 5.5rem;
        }
    }

    .header-flexbox-content {

        .work-category {
           display: none;
        }
    }

    .header-title {
        position: relative;
        @include border(50px, 3px, -15px);
        margin-bottom: 4rem;
        line-height: 1.3;
    }

    .note {
        font-size: 1.3rem;
        padding: 0 3%;
        text-align: left;

        h2 {
            text-align: center;
            color: $color-sub2;
        }
    }

    section {
        position: relative;
        @include border(200px, 1px, -30px);
    }

// width 768px ///////////////////////////////////////////
    @include MQ(M) {
        padding: 15px 0 0;
        text-align: left;

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.7rem;
        }

        h3 {
            font-size: 2rem;
        }

        .header-content {
            text-align: left;
        }

        .category {
            margin: 0 0 180px;

            .category-title {
                max-width: 300px;
                margin: 0 auto;
                padding: 5px 0;
            }

            .webicon_araki-symbol {
                right: 0;
            }
        }

        .header-home {
            top: 15px;
            right: 8%;
        }

        .header-flexbox-content {
            @include display(flex);
            @include flex-wrap(wrap);

            section {
                @include border(0, 0, -20px);
                @include flex(0 0 50%);
            }

            .work-category {
                position: relative;
                display: block;
                @include flex(0 0 50%);

                .work-icon {
                    position: absolute;
                    right: 0;
                    bottom: -18px;
                    color: $color-sub2;
                    text-align: right;
                    font-size: 11rem;
                }

                .work-number {
                    position: absolute;
                    right: 0;
                    font-size: 1.5rem;
                    letter-spacing: 1px;

                    .i {
                        margin-left: 10px;
                        font-size: 4rem;
                    }
                }
            }
        }

        .header-title {
            @include border(100px, 3px, -20px);
            margin-bottom: 5rem;

            &::before {
                content: '\e64b';
                position: absolute;
                top: 5px;
                left: -50px;
                font-size: 2rem;
                color: #000;
            }

            &::after {
                left: 50px;
            }
        }

        .note {
            padding: 0;

            h2 {
                text-align: left;
            }
        }
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        padding: 24px 0 0;

        .category {

            .category-title {
                padding: 12px 0;
            }

            .webicon_araki-symbol {
                top: -8px;
                left: 0;
                text-align: left;
                font-size: 5.5rem;
            }
        }
    }

    .about &,
    .a-star &,
    .dancekingdom-2010 &,
    .dancekingdom-2011 &,
    .dancekingdom-2014 &,
    .chihara-kfd &,
    .chihara-cd &,
    .cp &,
    .cbc &,
    .dancebattle &,
    .dancenation-2010 &,
    .dancenation-2011 &,
    .dancenation-2012 &,
    .dancenation-2015 &,
    .jsda &,
    .love-1 &,
    .love-2 &,
    .love-3 &,
    .live-dance-fes &,
    .mid &,
    .soba &,
    .mumu &,
    .schan &,
    .star & {
        .main-nav-open & {
            @include transform(translateX(20%));
            @include opacity(0);
        }
    }


    //About me header cContents
    .about & {
        position: relative;
        margin-bottom: 120px;

        .header-title {
            span {
                font-size: 2rem;
                letter-spacing: 2px;
            }

            &::before {
                content: '\e654';
                top: 1px;
                font-size: 2.5rem;
            }
        }

        @include MQ(L) {
            margin-bottom: 150px;
        }
    }
    //About me header contents END
}


.chihara-kfd,
.chihara-cd,
.cp,
.dancebattle,
.dancekingdom-2010,
.dancekingdom-2014,
.dancenation-2010,
.dancenation-2015,
.live-dance-fes,
.jsda,
.love-1,
.mid,
.schan,
.star {

    .development {

        .float-block-4 {
            @include column(.5);

            @include MQ(M) {
                @include column(.25);
            }
        }
    }
}

/*======================================================================

top view

======================================================================*/

.top-view {
    position: fixed;
    z-index: 5;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    color: $color-black;
    background-color: $color-white;
    @include transition(transform $animation-duration);

    .container-open & {
        @include transform(translate3d(0, -100%, 0) translate3d(0, 250px, 0));
    }

    .top-view-img {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 120%;
        width: auto;
        height: auto;
        @include center;
        @include transition(transform $animation-duration, opacity .6s);
    }

    // Top Page SVG ///////////////////////////////////////////////////////////////////

    .card {
        position: absolute;
        @include center;
    }

    .circle {
        position: absolute;
        @include center;
        width: 380px;
        height: 550px;
        fill: $color-black;
        stroke: $color-black;
    }

    .top-social-icon {
        position: relative;
        bottom: -180px;
        width: 55px;
        height: 55px;
    }

    // Top Page SVG ///////////////////////////////////////////////////////////////////

    .top-view-content {
        padding: 0 5%;
    }

    .main-title {
        position: absolute;
        width: 700px;
        @include center;
        text-align: center;
        color: $color-black;
        padding-bottom: 1.5rem;

        .top-view-title {
            position: absolute;
            @include center;
            top: -55px;
            font-family: "cleanvertising_light";

            span {
                font-size: 2rem;
                font-family: "cleanvertising_light";
            }
        }

        .sub-title2 {
            position: absolute;
            @include center(x);
            top: 30px;

            span {
                @include heading-font(h2);
                font-size: 2rem;
            }
        }
    }

    .sub-title {
        position: absolute;
        bottom: 80px;
        width: 90%;
        text-align: center;
        letter-spacing: 2px;
        @include transition(transform $animation-duration, opacity .4s, color .3s, bottom .3s);

        h2 {
            margin-bottom: 1.2rem;
        }

        span {
            line-height: 1.5;
        }
    }

    .trigger-content {
        margin-top: 20px;
        text-align: center;
    }

    .trigger {
        position: relative;
        bottom: -50px;
        width: 60px;
        height: 60px;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;

        .container-open & {
            bottom: -40px;
        }
    }
}

// Top Page SVG //////////////////////////////////////////////////

.icon {
    display: none;
}

.trigger-icon {
    position: absolute;
    @include center;
    width: 40px;
    height: 40px;
}

.trigger-open {
    fill: $color-black;
    @include transition(opacity .3s);
    &:hover {
        fill: $color-main;
    }
}

.trigger-close {
    position: absolute;
    width: 0;
    height: 0;
    fill: $color-sub;
    @include opacity(0);
    @include transition(transform $animation-duration 1.5s, width .3s .8s $ease-out-back, height .3s .8s $ease-out-back, opacity .3s);
}

.top-view {
    .container-open & {
        .trigger-open {
            @include opacity(0);
        }

        .trigger-close {
            width: 40px;
            height: 40px;
            @include opacity(1);
        }
    }
}

/////////////////////////////////////////////////////////////////


.thumbnail-wrap {
    position: relative;
    z-index: 4;
    @include display(flex);
    @include flex-wrap(wrap);
    padding: 250px 10px 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    @include transition(transform $animation-duration, opacity .4s);

    .main-nav-open & {
        @include transform(translateX(80%));
        @include opacity(0);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-white;
        content: '';
        @include opacity(1);
        @include transition(opacity $animation-duration);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        pointer-events: none;

        .container-open & {
            @include opacity(0);
        }
    }

    .thumbnail {
        position: relative;
        @include flex(1 0 100%);
        width: 100%;
        height: 90vw;
        overflow: hidden;
        outline: none;
        border: 10px solid $color-white;
        border-width: 0 10px 20px;

        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            min-height: 100%;
            background-color: $color-sub;
            @include transition(opacity .4s);
            @include opacity(0);
        }

        &:hover {

            &::after {
                @include opacity(.7);
            }

            .target-icon {
                @include opacity(1);
                width: 350px;
                height: 350px;
            }
        }

        .target-icon {
            position: absolute;
            @include center;
            fill: $color-white;
            stroke: $color-white;
            width: 800px;
            height: 800px;
            z-index: 2;
            @include opacity(0);
            @include transition(transform $animation-duration, opacity .3s, width .3s $ease-in-out-back, height .3s $ease-in-out-back);
        }

        .thumbnail-img {
            position: absolute;
            top: 65%;
            left: 0;
            min-height: 100%;
            width: 100%;
            @include transition(transform $animation-duration - .3s, opacity .5s);
            @include transform(scale3d(1.3, 1.3, 1));
        }

        .thumbnail-title {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            padding: 1.8em 0 0 0;
            font-size: 1.7rem;
            text-align: center;
            z-index: 1;
            letter-spacing: 3px;
            @include transition(transform $animation-duration - .3s, opacity $animation-duration - .3s, color .3s);

        }

        span {
            position: absolute;
            top: 110px;
            font-size: 1.2rem;
            width: 100%;
            text-align: center;
            letter-spacing: 1px;
            z-index: 1;
            @include transition(transform $animation-duration - .2s, opacity $animation-duration - .5s, color .3s);
        }

        &:hover {
            .thumbnail-title {
                // @include opacity(0);
                color: $color-white;
                @include transform(translate3d(0, -50px, 0));
            }

            span {
                // @include opacity(0);
                color: $color-white;
                @include transform(translate3d(0, -50px, 0));
            }

            .thumbnail-img {
                @include transform(translate3d(0, -65%, 0));
                @include opacity(.4);
            }
        }
// width 768px ///////////////////////////////////////////
        @include MQ(M) {
            @include flex(1 0 50%);
            height: 50vw;
        }

// width 1170px ///////////////////////////////////////////
        @include MQ(L) {
            @include flex(1 0 25%);
            height: 25vw;
        }
    }
}



/*======================================================================

Portfolio Page Contents

======================================================================*/

main {
    position: relative;
    z-index: 7;
    // height: 100vh;
    // overflow-y: auto;
    padding: 0 5%;
    text-align: center;

    // Inertia scroll
    -webkit-overflow-scrolling: touch;

    // webkit acceleration
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    @include transition(transform $animation-duration + .1s, opacity .4s);

    h1, h2, h3 {
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2, h3 {
        font-size: 2.1rem;
    }

    p {
        line-height: 1.8;
        word-wrap: break-word;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .main-nav-open & {
        @include transform(translateX(20%));
        @include opacity(0);
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        text-align: left;

        h1 {
            font-size: 4.3rem;
        }

        h2 {
            font-size: 2.7rem;
        }

        h3 {
            font-size: 2rem;
        }
    }


    //Portfolio Contents
    .portfolio & {
        position: relative;
        z-index: 2;
        padding: 50px 0 0;

        .info {
            position: relative;
            max-width: 1080px;
            margin: 0 auto 70px;
            padding: 0 3%;
            letter-spacing: 2px;

            .info-wrap {
                @include clearfix;
                padding-bottom: 50px;
                @include box-shadow(rgba(#aaa, .5) 0px 8px 3px -7px);

            }

            section {

                > div {
                    position: relative;
                    margin-bottom: 50px;

                    &:nth-child(3) {
                        margin-bottom: 0;
                    }
                }
            }

            dl {
                @include clearfix;
            }

            dt {
                color: $color-sub2;
            }

            dt, dd {
                margin-bottom: 20px;
            }

            span {
                font-size: 3rem;
            }

            .development {
                max-width: 250px;
                margin: 0 auto;
            }
        }

        .design-photo {
            max-width: 1080px;
            margin: 0 auto;
            padding: 0 3%;
            overflow: hidden;

            .design-photo-wrap {
                @include clearfix;

                > div {
                    margin: 0 0 3% 0;
                }
            }
        }

        .float-block-4 {
            @include column(.25);
        }


// width 768px //////////////////////////////////////////////////
        @include MQ(M) {

            .info {
                font-size: 1.3rem;
                text-align: left;
                margin: 0 auto 100px;

                .info-wrap {
                    padding: 0;
                    @include box-shadow(rgba(#fff, .5) 0 0 0 0);
                }

                dt, dd {
                    margin-bottom: 15px;
                }

                span {
                    font-size: 2.3rem;
                }

                section {
                    > div {
                        margin-bottom: 0;
                    }
                }
            }

            .float-block-3 {
                @include column(.33);
            }

            .line {

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 60px;
                    width: 1px;
                    height: 110px;
                    background-color: lighten(#aaa, 15%);
                }
            }
        }

// width 1170px ///////////////////////////////////////////
        @include MQ(L) {

            .info {

                .development {
                    margin: 0;
                }
            }

            .design-photo {
                .design-photo-wrap {
                    margin: 0 -3% 0 0;

                    > div {
                        margin: 0 3% 3% 0;
                    }
                }
            }
        }
    }

    //About me Contents
    .about & {

        h2 {
            color: #000;
        }

        h3 {
            color: $color-main;
        }

        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .about-info {
            max-width: 1080px;
            margin: 0 auto;
        }

        .about-info-wrap {
            text-align: center;

            section {
                @include clearfix;
            }
        }

        .myname {
            position: relative;
            margin-bottom: 3rem;

            span {
                position: absolute;
                @include center(x);
                top: -55px;
                font-size: 4rem;
                color: $base-color;
            }
        }

        .my-skill-wrap {
            text-align: center;

            span {
                font-size: 4rem;
            }

            ul {
                @include clearfix;
            }

            > section {
                    position: relative;
                    margin-bottom: 50px;
                    @include border(70%, 1px, 50px, $base-color);

                h3 {
                    position: relative;
                    color: $color-sub2;
                    margin-bottom: 95px;

                    span {
                        position: absolute;
                        @include center(x);
                        top: -55px;
                    }
                }

                li {
                    position: relative;
                    @include column(.33);
                    margin-bottom: 95px;

                    span {
                        position: absolute;
                        @include center(x);
                        top: -55px;
                    }
                }
            }

            .skill-icon {
                span {
                    top: -75px;
                    font-size: 7rem;
                }
            }
        }

        .contact {
            position: relative;
            max-width: 300px;
            margin: 0 auto 120px;

            &::before {
                content: '\e635';
                position: absolute;
                top: -35px;
                left: -30px;
                font-size: 3rem;
                @include transform(rotate(45deg));
            }

            &::after {
                content: '\e635';
                position: absolute;
                bottom: -35px;
                right: -30px;
                font-size: 3rem;
                @include transform(rotate(-135deg));
            }

            .contact-mail {
                font-size: 2rem;
            }
        }

        @include MQ(M) {
            .contact {
                max-width: 380px;
            }
        }

// width 1170px ///////////////////////////////////////////
        @include MQ(L) {

            .about-info-wrap {

                > div {
                    &:nth-child(1) {
                        margin-bottom: 150px;
                    }
                }
            }

            .myname {
                padding-left: 50px;

                span {
                    top: -17px;
                    left: 20px;
                }
            }

            .my-skill-wrap {

                > section {
                        margin-bottom: 200px;
                        @include border(15%, 1px, -60px, $base-color);

                    li {
                        @include column(.1428);
                        margin: 0;
                    }

                    &:nth-child(2) {
                        li {
                            @include column(.20);
                        }
                    }
                }
            }

            .contact {
                .contact-mail {
                    font-size: 2.5rem;
                }
            }
        }
    }
}


//Sub navigation
.turn-nav {
    position: relative;
    z-index: 2;
    font-size: 3rem;

    // Inertia scroll
    -webkit-overflow-scrolling: touch;

    // webkit acceleration
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    @include transition(transform $animation-duration + .2s, opacity .4s);

    .main-nav-open & {
        @include transform(translateX(20%));
        @include opacity(0);
    }

    .turn-nav-wrap {
        position: relative;
        width: 200px;
        height: 35px;
        margin: 20px auto 50px;
    }

    .turn-top {
        position: absolute;
        @include center;
        top: 15px;
        text-align: center;
        font-size: 2rem;
    }

    .turn-button {
        position: absolute;
        width: 100%;
        @include center;
        font-size: 2rem;

        a {

            &:nth-child(2) {
                position: absolute;
                right: 0;
            }
        }
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        .turn-nav-wrap {
            width: 620px;
            margin: 60px auto 100px;
        }

        .turn-button {

            a {
                letter-spacing: 1px;

                &:nth-child(1) {
                    &::before {
                        content: 'previous project';
                        position: absolute;
                        top: -3px;
                        left: -220px;
                        font-size: 2rem;
                    }
                }

                &:nth-child(2) {
                    position: absolute;
                    right: 0;

                    &::after {
                        content: 'next project';
                        position: absolute;
                        top: -3px;
                        right: -190px;
                        font-size: 2rem;
                    }
                }
            }
        }

        .mid & {
            .turn-button {
                a {
                    &:nth-child(1) {

                        &::before {
                            content: 'home';
                        }
                    }
                }
            }
        }
    }
}

/*======================================================================

color circle

======================================================================*/

.color-circle {
    position: fixed;
    top: 0;
    left: 3%;
    width: 55px;
    min-height: 100%;
    letter-spacing: 2px;
    display: none;

    .color-circle-title {
        position: absolute;
        right: -44px;
        bottom: 230px;
        width: 141px;
        display: block;
        @include transform(rotate(-90deg));
    }

    .color-circle-mark {
        position: absolute;
        bottom: 80px;
        height: 70px;
        @include center(x);
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        display: block;
    }
}


/*======================================================================

nav-trigger

======================================================================*/

.main-nav-trigger {
    position: fixed;
    z-index: 13;
    left: 5%;
    top: 20px;
    height: 55px;
    width: 55px;
    @include border-width(3px);
    // @include border-color(rgba($color-main, 1) rgba($color-sub, 1) rgba($color-sub, .5) rgba($color-pink, 1));
    @include border-color(#4C4F69);
    @include border-style(solid);
    @include border-radius(50%);
    @include transition(transform $animation-duration - .3s, border-color $animation-duration - .2s);

    &::before {
        content: '';
        position: absolute;
        @include center(x);
        left: 0;
        bottom: -20px;
        width: 20px;
        height: 2px;
        background-color: $color-main;
        @include opacity(0);
        @include transition(left .3s, opacity .3s);
    }

    &:hover {
        border-color: $color-main;

        &::before {
            @include center(x);
            @include opacity(1);
        }
    }

    .main-nav-icon {
        position: absolute;
        @include center;
        height: 3px;
        width: 25px;
        background-color: #4C4F69;
        @include transition(background-color $animation-duration + .3s);

        &::before {
            background-color: #4C4F69;
        }

        &::after {
            background-color: #4C4F69;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 50%;
            top: 0;
            right: 0;
            @include transition(translateZ(0));
            @include backface-visibility(hidden);
        }

        &::before {
            @include transform-origin(right top);
            @include transform(translateY(7px));
            @include transition(transform $animation-duration, width $animation-duration, background-color $animation-duration + 1s);
        }

        &::after {
            @include transform-origin(right bottom);
            @include transform(translateY(-7px));
            @include transition(transform $animation-duration, width $animation-duration, background-color $animation-duration + .2s);
        }
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    .main-nav-open & {
        @include transform(rotate(180deg));

        .main-nav-icon::before {
            @include transform(rotate(-45deg));
        }

        .main-nav-icon::after {
            @include transform(rotate(45deg));
        }
    }

// width 768px //////////////////////////////////////////////////////
    @include MQ(M) {
        left: 3%;
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        top: 36px;
    }
}


/*======================================================================

Navigation Contents

======================================================================*/

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility:hidden;
    @include transition(visibility 0s $animation-duration - .2s);
    z-index: 12;

    .main-nav-wrap {
        height: 100%;
        overflow-y: auto;
        -webkit-overfllow-scrolling: touch;
        padding: 47px 5% 50px 30%;

        @include transform(translateZ(0));
        @include backface-visibility(hidden);

        @include transform(translateX(-70%));
        @include opacity(0);
        @include transition(transform $animation-duration - .3s, opacity .3s);

        div {
            margin-bottom: 4rem;

            &:nth-of-type(1) {
                li {

                    &::before {
                        top: 4px;
                    }

                    &::after {
                        top: 32px;
                        height: 4px;
                    }
                }

                a {
                    font-size: 2.5rem;
                }
            }

            &:nth-of-type(2) {
                color: $color-main;
            }

            &:nth-of-type(3) {
                color: $color-pink;
            }
        }
    }

    h2, a {
        letter-spacing: 1px;
    }

    h2 {
        position: relative;
        font-size: 2.1rem;
        margin-bottom: 5rem;
        text-transform: capitalize;
    }

    a {
        width: 100%;
        @include inline-block;
        font-size: 1.7rem;

        &:hover {
            color: $color-main;
        }
    }

    .nav-list {
        @include transform(translateX(-20%));

        li {
            position: relative;
            margin: 1.5rem 0;

            &::before {
                content: '\e64a';
                position: absolute;
                top: 1px;
                left: -30px;
                font-size: 1.8rem;
                color: $base-color;
                @include opacity(0);
                @include transition(left $animation-duration - .4s .1s, opacity .3s .1s);
            }

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                top: 25px;
                left: -30px;
                background-color: $color-main;
                font-size: 1.8rem;
                color: $base-color;
                @include opacity(0);
                @include transition(width $animation-duration - .5s, left $animation-duration - .4s, opacity .3s);
            }

            &:hover {
                &::before {
                    left: -20px;
                    @include opacity(1);
                }

                &::after {
                    width: 10%;
                    left: 0;
                    @include opacity(1);
                }
            }
        }
    }

    .main-nav-open & {
        visibility: visible;
        @include transition(visibility 0s);

        .main-nav-wrap {
            @include transform(translateX(0));
            @include transition(transform $animation-duration, opacity .2s);
            @include opacity(1);

            h2 {
                &::after {
                    @include transform(translateX(0));
                    @include transition(transform $animation-duration .1s);
                }
            }
        }

        .nav-list {
            @include transform(translateX(0));
            @include transition(transform $animation-duration - .2s);
        }
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        .main-nav-wrap {
            padding: 54px 15%;
            @include clearfix;

            > div {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 60px;
                    width: 20%;
                    height: 2px;
                    background-color: $base-color;
                }
            }
        }

        h2 {
            margin-bottom: 7rem;
            font-size: 3rem;
        }

        .nav-list {
            margin-top: 100px;

            li {
                margin: 2.5rem 0;
            }
        }

        .main-nav-open & {
            .main-nav-wrap {
                h2 {
                    &::after {
                        @include transition(transform $animation-duration);
                    }
                }

                .nav-list {
                    @include transition(transform $animation-duration .3s);
                }
            }
        }
    }
}

/*======================================================================

Footer Contents

======================================================================*/

.footer{
    position: relative;
    z-index: 2;
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    @include transition(transform $animation-duration + .3s, opacity .4s);

    .main-nav-open & {
        @include transform(translateX(20%));
        @include opacity(0);
    }

    .footer-wrap {
        position: relative;
        height: 200px;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 2px;
        @include box-shadow(rgba(#aaa, .3) 0 -8px 2px -7px);

        .footer-contents {
            position: absolute;
            width: 100%;
            @include center;
            @include clearfix;

            > div {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                @include heading-font(h3);
                margin-top: 20px;
            }

            span {
                font-size: 4.5rem;
            }

            .social {
                max-width: 250px;
                margin: 0 auto;
            }

            .social-link {
                position: relative;
                right: 20px;
                color: $base-color;
                width: 200px;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;

                &:hover {
                    color: $color-main;

                    .social-link-title::before {
                        @include opacity(1);
                        left: 0;
                        width: 50px;
                    }
                }

                .social-link-title {
                    position: relative;
                    font-size: 2.5rem;
                    margin-right: 10px;
                    letter-spacing: 2px;
                }

                .footer-icon {
                    position: absolute;
                    top: -5px;
                    width: 40px;
                    height: 40px;
                    // @include center(y);
                    @include transition(transform $animation-duration - .3s, opacity .3s);

                    .social-link-open & {
                        @include opacity(0);
                        @include transform(rotate(180deg));
                    }
                }

                .footer-close {
                    top: 0;
                    right: -4px;
                    width: 30px;
                    height: 30px;
                    @include opacity(0);

                    .social-link-open & {
                        @include opacity(1);
                    }

                    @include MQ(M) {
                        right: -13px;
                    }
                }
            }
        }
    }

// width 1170px ///////////////////////////////////////////
    @include MQ(L) {
        .footer-wrap {
            max-width: 1080px;
            text-align: left;

            .footer-contents {

                > div {
                    margin-bottom: 0;
                }

                p {
                    margin-top: 17px;
                }

                span {
                    font-size: 5rem;
                }

                .social {
                    max-width: 320px;
                    @include column(.5, right);
                    text-align: right;
                    margin-top: 13px;

                    span {
                        font-size: 2.5rem;
                    }
                }

                .social-link {
                    top: -5px;
                    right: 24px;
                    width: 160px;
                    color: $base-color;
                    outline: none;
                    border: none;
                    background: none;
                    cursor: pointer;

                    .social-link-title {
                        font-size: 2rem;
                        vertical-align: top;

                        &::before {
                            content: '';
                            position: absolute;
                            left: -20px;
                            bottom: -4px;
                            width: 0;
                            height: 2px;
                            background-color: $color-main;
                            @include opacity(0);
                            @include transition(width .3s, left .3s, opacity .3s);
                        }
                    }
                }
            }
        }

        .float-block-2 {
            @include clearfix;
        }
    }
}


/*======================================================================

Social-Link

======================================================================*/
.social-link-wrap {
    position: fixed;
    width: 0;
    height: 0;
    @include center;
    z-index: 11;
    @include opacity(0);
    @include transition(transform $animation-duration, opacity .3s, visibility 1s, width .3s $ease-out-back, height .3s $ease-out-back);

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: lighten($color-main, 40%);
        @include opacity(.9);
        @include border-radius(50%);
    }

    .social-link-open & {
        width: 700px;
        height: 700px;
        @include opacity(1);
    }

    .main-nav-open & {
        @include opacity(0);
        @include transform(translateX(100%) translate3d(-50%, -50%, 0));
    }
}

.social-link-content {
    position: absolute;
    @include center;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 12;
    @include display(flex);
    @include flex-wrap(wrap);
    @include border-radius(50%);
    @include transition(width .3s .2s $ease-out-back, height .3s .2s $ease-out-back);

    .social-link {
        position: relative;
        @include flex(0 0 50%);


        &:nth-child(1) {
            background-color: $color-main;

            &:hover {
                background-color: darken($color-main, 5%);
            }
        }

        &:nth-child(2) {
            background-color: $color-sub;

            &:hover {
                background-color: darken($color-sub, 5%);
            }
        }

        &:nth-child(3) {
            background-color: $color-sub2;

            &:hover {
                background-color: darken($color-sub2, 5%);
            }
        }

        &:nth-child(4) {
            background-color: $color-pink;

            &:hover {
                background-color: darken($color-pink, 5%);
            }
        }
    }

    .i {
        position: absolute;
        @include center;
        font-size: 4rem;
        color: $color-white;
        @include transition(transform $animation-duration);
    }

    .social-link-open & {
        width: 260px;
        height: 260px;

        .i.webicon_mail.mail {
            @include transition(transform $animation-duration - .1s);
            @include transform(translate3d(-5px, -5px, 0));
        }

        .i.webicon_twitter.twitter {
            @include transition(transform $animation-duration - .2s);
            @include transform(translate3d(-40px, -5px, 0));
        }

        .i.webicon_pinterest.pinterest {
            @include transition(transform $animation-duration - .3s);
            @include transform(translate3d(-5px, -40px, 0));
        }

        .i.webicon_instagram.instagram {
            @include transition(transform $animation-duration - .4s);
            @include transform(translate3d(-40px, -40px, 0));
        }
    }
}

.i.webicon_close {
    position: absolute;
    @include center(x);
    bottom: 150px;
    font-size: 4rem;
    color: #000;
    cursor: pointer;
    z-index: 12;
    @include opacity(0);
    @include transform(translate3d(-50%, 100px, 0));

    &:hover {
        color: $color-main;
    }

    .social-link-open & {
        @include opacity(1);
        @include transform(translate3d(-50%, 0, 0));
    }
}



/*======================================================================

Loading animation

======================================================================*/
.loader-content {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 15;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    background-color: #fff;

    &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    z-index: 10;
    @include border-radius(50%);
    @include border-width(.4rem);
    @include border-style(solid);
    @include border-color($color-main transparent $color-pink);
    @include animation(loading2 2s infinite linear);
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2rem;
  text-indent: -9999rem;
  z-index: 10;
  width: 90px;
  height: 90px;
  @include border-radius(50%);
  @include border-width(.7rem);
  @include border-color(rgba($color-main, 1) rgba($color-sub, 1) rgba($color-sub2, 1) rgba($color-pink, 1));
  @include border-style(solid);
  @include animation(loading .6s infinite linear);
}

@include keyframes (loading) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

@include keyframes (loading2) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(-360deg));
    }
}



/*======================================================================

Top page load animation

======================================================================*/
.top-view {

    .top-view-img {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        height: auto;
        @include center;
        @include transition(transform $animation-duration, opacity .4s .3s);
        @include opacity(0);

        .top-open & {
            @include opacity(1);
        }

        .container-open & {
            @include opacity(0);
            @include transform(translate3d(-50%, -50%, 0));
        }
    }

    .main-title {
        top: 55%;
        padding-bottom: 50px;

        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 3px;
            background-color: $color-black;
            @include center;
            @include transition(width .5s .3s);

            .top-open & {
                width: 10%;
            }
        }

        .top-view-title {
            top: -20px;
            @include opacity(0);
            @include transition(top $animation-duration .3s, opacity .8s .5s);


            span {
                position: absolute;
                width: 100%;
                top: 60px;
                @include center(x);
                @include opacity(0);
                @include transition(top $animation-duration .3s, opacity .8s .5s);
            }

            .top-open & {
                top: -55px;
                @include opacity(1);

                span {
                    top: 40px;
                    @include opacity(1);
                }
            }
        }

        .three-mark {
            position: absolute;
            top: -300px;
            width: 150px;
            @include opacity(0);
            @include center(x);
            @include transition(top $animation-duration - .3s .8s, opacity .3s .8s);

            .top-open & {
                @include opacity(1);
                top: -250px;
            }
        }

        .ah-mark {
            position: absolute;
            top: -260px;
            width: 300px;
            height: 150px;
            @include center(x);
            @include opacity(0);
            @include transition(top $animation-duration, opacity .3s);

            .top-open & {
                @include opacity(1);
                top: -240px;
            }
        }


// width 768px //////////////////////////////////////////////////////
        @include MQ(M) {
            padding-bottom: 70px;

            &::after {
                height: 4px;

                .top-open & {
                    width: 10%;
                }
            }

            .ah-mark {
                top: -330px;
                height: 200px;

                .top-open & {
                    @include opacity(1);
                    top: -300px;
                }
            }
        }
    }

    .sub-title {
        position: absolute;
        bottom: 100px;
        @include opacity(0);
        @include transition(transform $animation-duration, bottom $animation-duration .6s, opacity .7s .7s);

        span {
            position: absolute;
            width: 100%;
            bottom: 30px;
            @include center(x);
            @include opacity(0);
            @include transition(transform $animation-duration, bottom $animation-duration .7s, opacity .7s .7s);
        }

        .top-open & {
            bottom: 120px;
            @include opacity(1);

            span {
                bottom: 40px;
                @include opacity(1);
            }
        }

        .container-open & {
            @include transform(translate3d(0, 40px, 0));
            color: $base-color;
        }

        .main-nav-open & {
            @include transition(transform $animation-duration, opacity .3s 0s);
            @include transform(translateX(20%) translate3d(0, 40px, 0));
            @include opacity(0);
        }
    }
}

/*======================================================================

Page Load animation

======================================================================*/
.category,
.header-flexbox-content,
.info,
.design-photo,
.about-info {
    @include opacity(0);
    @include transition(transform $animation-duration .4s, opacity .4s .4s);

    .page-open & {
        @include opacity(1);
    }
}

.work-icon {
    @include opacity(0);
    @include transition(transform $animation-duration 1s, opacity .4s .4s);
}

.category {
    position: relative;
    top: -20px;

    .page-open & {
        @include transform(translateY(20px));
    }
}

.header-flexbox-content {
    position: relative;
    top: 60px;

    .page-open & {
        @include transform(translateY(-60px));
    }
}

.info {
    top: 80px;

    .page-open & {
        @include transform(translateY(-80px));
    }
}

.design-photo,
.about-info {
    position: relative;
    top: 100px;

    .page-open & {
        @include transform(translateY(-100px));
    }
}

.work-icon {
    .page-open & {
        @include opacity(1);
        @include transform(rotate(360deg));
    }
}
